body {
    background-color: gray;	
}

.link-container {
    display: flex;
    justify-content: center; 
    gap: 30px; 
    margin-top: 20px;
}

.link-images {
    width: 60px;
    height: 60px; 
    object-fit: contain;
    transition: transform 0.2s ease; 
}

.link-images:hover {
    transform: scale(1.1);
}
