/* Basic page layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3b3b3b;
    color: #222;
}

/* Navbar */
.navbar {
    background-color: #222;
    padding: 15px 20px;
    border-radius: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Page content container */
.container {
    max-width: 900px;
    margin: 30px;
}

/* Headings */
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 32px;
    color: rgb(0, 205, 188);
}

h2 {
    margin-top: 25px;
    font-size: 24px;
    color: rgb(175, 175, 175);
}
h3 {
  color: rgb(175, 175, 175);
}
h4 {
  color: rgb(175, 175, 175);
}
p {
  color: rgb(175, 175, 175);
}

/* Bio text */
.bio {
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
    color: rgb(175, 175, 175);
}

/* Social icons */
.link-container {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.link-images {
    width: 50px;
    transition: transform 0.2s ease;
}

.link-images:hover {
    transform: scale(1.05);
}

.projects {
  color:rgb(175, 175, 175);
}

.projects a {
  color:rgb(114, 101, 255);
}

#fortune {
  border: 2px solid #333;
  padding: 10px;
  width: 300px;
  height: 100px;
  margin-bottom: 20px; 
  display: block;
}